.venv
./venv
venv/
venv
venv/
.venv/
env/
__pycache__/
*.pyc

31.03.2026/
.Spotlight-V100/
.DS_Store


EfficientNet/data/
EfficientNet/outputs/
LeNet5/data/
efnet_active/model.pth
cyrrilic_mnist/cyrillic.zip
